@model RefactorView.Infraestructure.Html.FormControl
<div class="form-group">
    @Model.Label
    <div class="@Model.ContainerSize">
        @Model.Control
        @Model.Validation
    </div>
</div>
